<app-page
  title="Страница записей"
>
  <section class="section text-center" *ngIf="!isLoaded">
    <app-loader></app-loader>
  </section>

  <section class="section" *ngIf="isLoaded">
    <div class="row">
      <div class="col-md-6">
        <app-add-event [categories]="categories"></app-add-event>
      </div>
      <div class="col-md-6">
        <app-add-category (categoryAdd)="newCategoryAdded($event)"></app-add-category>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <app-edit-category
          [categories]="categories"
          (categoryEdit)="categoryWasEdit($event)"
        ></app-edit-category>
      </div>
    </div>
  </section>
</app-page>
