<app-page
  title="RECORDS.TITLE"
  [loading]="viewModel.loading | async"
>
  <div class="row">
    <div *ngIf="(viewModel.categories | async) as categories" appCard>
      <app-add-event
        [categories]="categories"
        (valueChange)="addEvent($event)"
      ></app-add-event>
    </div>

    <div appCard>
      <app-add-category (valueChange)="addCategory($event)"></app-add-category>
    </div>

    <div *ngIf="(viewModel.categories | async) as categories" appCard>
      <app-edit-category
        [categories]="categories"
        (valueChange)="updateCategory($event)"
      ></app-edit-category>
    </div>
  </div>
</app-page>
