<app-card title="RECORDS.ADD_CATEGORY" [formGroup]="formGroup">
  <div
    class="form-group"
    [ngClass]="{ 'has-error': hasError('name') }"
  >
    <label class="control-label">
      {{ 'RECORDS.ENTER_NAME' | translate }}
      <input
        [title]="'RECORDS.ENTER_NAME' | translate"
        type="text"
        formControlName="name"
        class="form-control"
      />
    </label>

    <div
      class="form-help-text"
      *ngIf="hasError('name')"
    >
      {{ 'ERRORS.REQUIRED' | translate }}
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{ 'has-error': hasError('capacity') }"
  >
    <label class="control-label">
      {{ 'RECORDS.ENTER_CAPACITY' | translate }}
      <input
        [title]="'RECORDS.ENTER_CAPACITY' | translate"
        type="number"
        formControlName="capacity"
        class="form-control"
      />
    </label>

    <div
      class="form-help-text"
      *ngIf="hasError('capacity')"
    >
      {{ 'ERRORS.REQUIRED' | translate }}
    </div>
  </div>

  <button
    [title]="'ACTIONS.ADD' | translate"
    type="submit"
    class="btn btn-primary"
    (click)="addCategory()"
    [disabled]="formGroup.invalid"
  >
    {{ 'ACTIONS.ADD' | translate }}
  </button>
</app-card>
