<app-card title="RECORDS.EDIT_CATEGORY" [formGroup]="formGroup">
  <div class="form-group">
    <label class="control-label">
      {{ 'RECORDS.SELECT_CATEGORY' | translate }}

      <select
        class="form-control"
        [formControl]="categoryControl"
      >
        <option value="0">{{ 'ACTIONS.SELECT' | translate }}</option>
        <option
          *ngFor="let category of categories"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </label>
  </div>

  <div
    class="form-group"
    [ngClass]="{ 'has-error': hasError('name') }"
  >
    <label class="control-label">
      {{ 'RECORDS.ENTER_NAME' | translate }}
      <input
        [title]="'RECORDS.ENTER_NAME' | translate"
        type="text"
        formControlName="name"
        class="form-control"
      />
    </label>

    <div
      class="form-help-text"
      *ngIf="hasError('name')"
    >
      {{ 'ERRORS.REQUIRED' | translate }}
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{ 'has-error': hasError('capacity') }"
  >
    <label class="control-label">
      {{ 'RECORDS.ENTER_CAPACITY' | translate }}
      <input
        [title]="'RECORDS.ENTER_CAPACITY' | translate"
        type="number"
        formControlName="capacity"
        class="form-control"
      />
    </label>

    <div
      class="form-help-text"
      *ngIf="hasError('capacity')"
    >
      {{ 'ERRORS.REQUIRED' | translate }}
    </div>
  </div>

  <button
    [title]="'ACTIONS.CHANGE' | translate"
    type="submit"
    class="btn btn-primary"
    (click)="updateCategory()"
    [disabled]="!categoryControl.dirty || formGroup.invalid"
  >
    {{ 'ACTIONS.CHANGE' | translate }}
  </button>
</app-card>
