<div class="app-dashboard-layout">
  <div class="app-dashboard-layout__list">
    <p-progressSpinner
      *ngIf="isLoading"
      ariaLabel="loading"
    ></p-progressSpinner>
    
    <ng-container *ngIf="!isLoading">
      <div
        *ngFor="let item of accounts | async; trackBy: trackByAccounts"
        class="app-dashboard-layout__item"
      >
        {{ item.value | appCost : item.currency }}

        <p-button
          icon="pi pi-trash"
          size="small"
          severity="danger"
          (click)="onRemove($event, item.id)"
        ></p-button>
      </div>

      <div class="app-dashboard-layout__create-card">
        <p-button icon="pi pi-plus" size="small" (click)="handleOpenCreateDialog()"></p-button>
      </div>
    </ng-container>
  </div>
</div>

<p-toast position="top-center"></p-toast>

<p-confirmDialog></p-confirmDialog>

<app-create-account-dialog *ngIf="isCreateDialogVisible()" (closed)="onClose()"></app-create-account-dialog>
