<div class="title-block">
  <h3 class="title">
    Страница пользователей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Список пользователей</h3>
          </div>
        </div>

        <div class="card-block">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Пользователь</th>
              <th>Email</th>
              <th>Группа</th>
              <th class="text-lg-center">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let u of users; let idx = index">
              <th>{{idx+ 1}}</th>
              <td>{{u.name}}</td>
              <td>{{u.email}}</td>
              <td>{{u.group}}</td>
              <td class="text-lg-center">
                <a class="btn btn-primary-outline">Открыть</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
