<p-table [value]="history">
  <ng-template pTemplate="header">
    <tr>
      <th>№</th>
      <th>{{ "HISTORY.AMOUNT" | transloco }}</th>
      <th>{{ "HISTORY.DATE" | transloco }}</th>
      <th>{{ "HISTORY.TYPE" | transloco }}</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.amount | appCost : "RUB" }}</td>
      <td>{{ item.date }}</td>
      <td>
        <p-chip
          [label]="getTypeText(item.type) | transloco"
          [icon]="'pi ' + getTypeIcon(item.type)"
        ></p-chip>
      </td>
      <td>
        <app-custom-button theme="danger" (click)="handleRemove(item.id)">
          Delete
        </app-custom-button>
      </td>
    </tr>
  </ng-template>
</p-table>
