<form class="create-category" [formGroup]="formGroup">
  <div class="create-category__field">
    <label for="categoryName">
      {{ "RECORDS.CREATE_CATEGORY.NAME_FIELD.TITLE" | transloco }}
    </label>

    <input pInputText id="categoryName" type="text" formControlName="name" />

    <small class="create-category__field-helper">
      {{ "RECORDS.CREATE_CATEGORY.NAME_FIELD.PLACEHOLDER" | transloco }}
    </small>

    @if (nameControl.hasError('required') && nameControl.dirty) {
      <small
        class="create-category__field-helper--error"
        >
        {{ "RECORDS.CREATE_CATEGORY.NAME_FIELD.REQUIRED" | transloco }}
      </small>
    }

    @if (nameControl.hasError('maxlength')) {
      <small
        class="create-category__field-helper--error"
        >
        {{ "RECORDS.CREATE_CATEGORY.NAME_FIELD.MAX_LENGTH" | transloco }}
      </small>
    }
  </div>

  <div class="create-category__field">
    <label for="limit">
      {{ "RECORDS.CREATE_CATEGORY.LIMIT_FIELD.TITLE" | transloco }}
    </label>

    <p-inputNumber
      inputId="integeronly"
      id="limit"
      formControlName="limit"
    ></p-inputNumber>

    <small class="create-category__field-helper">
      {{ "RECORDS.CREATE_CATEGORY.LIMIT_FIELD.PLACEHOLDER" | transloco }}
    </small>

    @if (limitControl.hasError('required') && limitControl.dirty) {
      <small
        class="create-category__field-helper--error"
        >
        {{ "RECORDS.CREATE_CATEGORY.LIMIT_FIELD.REQUIRED" | transloco }}
      </small>
    }

    @if (limitControl.hasError('min')) {
      <small
        class="create-category__field-helper--error"
        >
        {{ "RECORDS.CREATE_CATEGORY.LIMIT_FIELD.MIN_LENGTH" | transloco }}
      </small>
    }

    @if (limitControl.hasError('max')) {
      <small
        class="create-category__field-helper--error"
        >
        {{ "RECORDS.CREATE_CATEGORY.LIMIT_FIELD.MAX_LENGTH" | transloco }}
      </small>
    }
  </div>

  <app-custom-button
    class="create-category__submit-button"
    theme="success"
    (click)="handleSubmit()"
    >
    {{ "RECORDS.CREATE_CATEGORY.SUBMIT" | transloco }}
  </app-custom-button>
</form>
