<!-- <div class="app-root">
  <div class="app-root__main-menu">
    <app-main-menu></app-main-menu>
  </div>

  <div class="app-root__main-panel">
    <div class="app-root__header">
      <app-header></app-header>
    </div>

    <div class="app-root__content">
      <router-outlet></router-outlet>
    </div>

    <div class="app-root__main-panel-background"></div>
  </div>
</div> -->


<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <app-main-menu />
  </mat-sidenav>
  
  <mat-sidenav-content>
    <app-header />

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container> -->

<app-header></app-header>

<div class="dashboard-container">
  <section class="card account-assets">
    <header class="card-header">
      <h2>Account Assets</h2>

      <app-button>New Account</app-button>
    </header>
    <div class="card-content">
      <!-- <div class="placeholder">placeholder</div> -->
      <app-line-chart></app-line-chart>
    </div>
  </section>


  <section class="card transaction-entry">
    <header class="card-header">
      <h2>Smart Transaction Entry</h2>
    </header>
    <div class="card-content">
      <app-transaction-entry />
    </div>
  </section>

  <section class="card expense-breakdown">
    <header class="card-header">
      <h2>Expense Breakdown</h2>
    </header>
    <div class="card-content">
      <div class="placeholder">placeholder</div>
    </div>
  </section>

  <section class="card activity-ledger">
    <header class="card-header">
      <h2>Activity Ledger</h2>
    </header>
    <div class="card-content">
      <div class="placeholder">placeholder</div>
    </div>
  </section>

</div>