<!-- <div class="app-root">
  <div class="app-root__main-menu">
    <app-main-menu></app-main-menu>
  </div>

  <div class="app-root__main-panel">
    <div class="app-root__header">
      <app-header></app-header>
    </div>

    <div class="app-root__content">
      <router-outlet></router-outlet>
    </div>

    <div class="app-root__main-panel-background"></div>
  </div>
</div> -->


<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <app-main-menu />
  </mat-sidenav>
  
  <mat-sidenav-content>
    <app-header />

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>