<app-card title="HISTORY.EVENTS" [rightHeaderTemplate]="searchTemplate">
  <table class="table table-striped">
    <thead>
    <tr>
      <th translate>HISTORY.TABLE.NUMBER</th>
      <th translate>HISTORY.TABLE.AMOUNT</th>
      <th translate>HISTORY.TABLE.DATE</th>
      <th translate>HISTORY.TABLE.CATEGORY</th>
      <th translate>HISTORY.TABLE.TYPE</th>
      <th class="text-lg-center" translate>HISTORY.TABLE.ACTION</th>
    </tr>
    </thead>
    <tbody>
    <!--    <tr *ngFor="let e of events | appFilter:searchValue:searchField; let idx = index">-->
    <tr *ngFor="let e of events; let idx = index">
      <th scope="row">{{ idx + 1 }}</th>
      <td>{{ e.amount | number: '1.2' }}</td>
      <td>{{ e.date | appMoment:'DD.MM.YYYY HH:mm' }}</td>
      <td>{{ e.categoryName }}</td>
      <td>
        <div [ngClass]="getEventClass(e)">
          <span *ngIf="e.type === eventType.INCOME" translate>EVENTS.INCOME</span>
          <span *ngIf="e.type === eventType.OUTCOME" translate>EVENTS.OUTCOME</span>
        </div>
      </td>
      <td class="text-lg-center">
        <a [routerLink]="['/system/history', e.id]" class="btn btn-primary-outline" translate>
          ACTIONS.OPEN
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</app-card>

<ng-template #searchTemplate>
  <div class="form-inline">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [placeholder]="searchPlaceholder"
        [(ngModel)]="searchValue"
      >
    </div>
    <div class="btn-group" appDropDown>
      <button type="button" class="btn btn-secondary dropdown-toggle ">
        Параметр
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="changeCriteria('amount')">Сумма</a>
        <a class="dropdown-item" (click)="changeCriteria('date')">Дата</a>
        <a class="dropdown-item" (click)="changeCriteria('category')">Категория</a>
        <a class="dropdown-item" (click)="changeCriteria('type')">Тип</a>
      </div>
    </div>
  </div>
</ng-template>
