<app-card cardTitle="BILL.COURSE">
  <div class="row row-sm stats-container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{ 'BILL.CURRENCY' | translate }}</th>
        <th>{{ 'BILL.COURSE' | translate }}</th>
        <th>{{ 'BILL.DATE' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of currencies;">
        <td>{{ rate }} </td>
        <td>{{ currency.rates[rate] | number:'1.2' }}</td>
        <td>{{ currency.date | appMoment:'YYYY-MM-DD' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>
