<app-page
  title="Страница истории"
  [actionsTemplate]="controls"
>
  <div *ngIf="!isLoaded" class="text-center">
    <app-loader></app-loader>
  </div>
  <div *ngIf="isLoaded">
    <app-history-chart [data]="chartData"></app-history-chart>
    <app-history-events [categories]="categories" [events]="filteredEvents"></app-history-events>
    <div *ngIf="isFilterVisible">
      <app-history-filter
        (filterApply)="onFilterApply($event)"
        (filterCancel)="onFilterCancel()"
        [categories]="categories"
      ></app-history-filter>
    </div>
    <app-history-pagination
      [currencyPage]="currencyPage"
      [maxPage]=1000
      (changePage)="changePage($event)"
    ></app-history-pagination>
    <p>Текущая страница: {{currencyPage}}</p>
  </div>
</app-page>

<ng-template #controls>
  <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
    <i class="fa fa-filter"></i>
  </button>
</ng-template>



