<app-page
  headerTitle="HISTORY.TITLE"
  [actionsTemplate]="controls"
  [loading]="viewModel.loading | async"
>
  <ng-container *ngIf="(viewModel.history | async) as history">

    <app-history-chart [data]="history.chartData"></app-history-chart>

    <app-history-events [categories]="history.categories" [events]="history.events"></app-history-events>

    <div *ngIf="history.filterVisible">
      <app-history-filter
        (filterApply)="onFilterApply($event)"
        (filterCancel)="onFilterCancel()"
        [categories]="history.categories"
      ></app-history-filter>
    </div>

  </ng-container>
</app-page>

<ng-template #controls>
  <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
    <i class="fa fa-filter"></i>
  </button>
</ng-template>
