<app-page
  title="BILL.TITLE"
  [actionsTemplate]="controls"
  [loading]="viewModel.loading | async"
>
  <div class="row">
    <div *ngIf="(viewModel.bill | async) as bill" appCard>
      <app-bill-card [bill]="bill"></app-bill-card>
    </div>

    <div *ngIf="(viewModel.currency | async) as currency" appCard>
      <app-currency-card [currency]="currency"></app-currency-card>
    </div>
  </div>
</app-page>

<ng-template #controls>
  <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
    <i class="fa fa-refresh"></i>
  </button>
</ng-template>
