<app-page
  title="BILL.TITLE"
  [actionsTemplate]="controls"
  [loading]="viewModel.loading | async"
>
  <div class="row">
    <ng-container *ngIf="(viewModel.bill | async) as bill">
      <app-bill-card [bill]="bill"></app-bill-card>
    </ng-container>

    <ng-container *ngIf="(viewModel.currency | async) as currency">
      <app-currency-card [currency]="currency"></app-currency-card>
    </ng-container>
  </div>
</app-page>

<ng-template #controls>
  <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
    <i class="fa fa-refresh"></i>
  </button>
</ng-template>
