<app-page
  headerTitle="PLANNING.TITLE"
  [loading]="viewModel.loading | async"
>
  <div *ngIf="(viewModel.planning | async) as planning" class="row">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-xl-12">
      <app-card cardTitle="PLANNING.EXPENSES" [rightHeaderTemplate]="rightHeaderTemplate">
        <div class="row" *ngFor="let category of planning.categories">
          <div class="col-xs-6">
            <div class="n-progress">
              <div
                class="progress-bar"
                [ngClass]="category.color"
                [ngStyle]="{ width: category.percent }"
              >
                {{ category.name }}
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <span class="text-{{category.color}}">
              {{category.cost | number: '1.2'}}
            </span>
            {{ 'PLANNING.OF' | translate }}
            <span class="text-primary">
              {{category.capacity | number: '1.2'}}
            </span>
            {{ 'PLANNING.BALANCE' | translate }}
            <span class="text-{{category.color}}">
              {{category.balance | number: '1.2'}}
            </span>
            {{ 'MEASURES.RUB' | translate }}
          </div>
        </div>
      </app-card>

      <ng-template #rightHeaderTemplate>
        <span>{{ 'PLANNING.MAIN_BALANCE' | translate }}</span>
        <span *ngIf="planning.bill" class="text-success">
          {{ planning.bill.value | number:'1.2' }}
          {{ 'MEASURES.RUB' | translate }}
        </span>
      </ng-template>
    </div>
  </div>
</app-page>
