@if (isLoading()) {
  <p-progressSpinner ariaLabel="loading" />
}

@if (!isLoading()) {
  <div class="records-layout__card">
    <p-card header="{{ 'RECORDS.CREATE_CATEGORY.TITLE' | transloco }}">
      <app-create-category
        (categorySubmitted)="createCategory($event)"
      ></app-create-category>
    </p-card>
  </div>
  <div class="records-layout__card">
    @if (categories(); as categories) {
      <p-card
        header="{{ 'RECORDS.ADD_HISTORY.TITLE' | transloco }}"
        >
        <app-add-event
          [categories]="categories"
          (eventSubmitted)="addHistoryElement($event)"
        ></app-add-event>
      </p-card>
    }
  </div>
}
