.main-menu {
  $block: &;

  margin-top: 1.5rem;

  &__container {
    border: none;
    width: 100%;
  }

  &__dropdown + &__dropdown {
    display: block;
    margin-top: 1rem;
  }

  &__controls {
    padding: 0 1rem;
  }
}
